

<header role="banner" id="page-header" class="b-header">
  <div class="b-header__item">
    <h1>Diskusijų ir bendradarbiavimo priemonė Piazza</h1>
    <div class="b-nav-breadcrumbs">
  <div id="page-navbar">
    <nav role="navigation" aria-label="Naršymo sekimas">
    <ol class="breadcrumb">
      <li class="e-breadcrumb-parent breadcrumb-item"><a href="#" aria-current="page" title="Diskusijų ir bendradarbiavimo priemonė Piazza">Mano pagrindinis</a></li>
      <li class="e-breadcrumb-parent breadcrumb-item"><a href="#" aria-current="page" title="Diskusijų ir bendradarbiavimo priemonė Piazza">Mano kursai</a></li>
      <li class="e-breadcrumb-current breadcrumb-item">Mano kursai</li>
    </ol>
    </nav>
  </div>
</div>
  </div>
</header>
