

<svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-dehaze" viewBox="0 0 24 24">
      <path d="M2.016 5.484h19.969v2.016h-19.969v-2.016zM2.016 10.5h19.969v2.016h-19.969v-2.016zM2.016 15.516h19.969v1.969h-19.969v-1.969z"></path>
    </symbol>
  </defs>
</svg>
<button class="js-nav_button c-menu-button" aria-label="Šoninis meniu">
  <svg class="svg-icon icon-dehaze"><use xlink:href="#icon-dehaze"></use></svg>
  <span class="sr-only">Šoninis skydelis</span>
</button>
<div class="b-course-wrap">
  <div class="b-nav-sidebar">
    <a class="skip-link" href="#maincontent">Praleisti į pagrindinį turinį</a>
  <nav class="b-nav-sidebar__item">
  <h3 hidden>Kurso meniu</h3>
    <ul>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-graduation-cap fa-fw" aria-hidden="true"></i>
            <span>Kursas</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-users fa-fw" aria-hidden="true"></i>
            <span>Dalyviai</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-shield fa-fw" aria-hidden="true"></i>
            <span>Pasiekimai</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-check-square-o fa-fw" aria-hidden="true"></i>
            <span>Kompetencijos</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-table fa-fw" aria-hidden="true"></i>
            <span>Įverčiai</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Bendra informacija apie kursą informacija apie kursą</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Įvadas</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Prieigos instrukcija</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Funkcinis aprašymas</span>
          </a>
        </li>
    </ul>
  </nav>
  <nav class="b-nav-sidebar__item">
  <h3 hidden>Naudotojo meniu</h3>
    <ul>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-tachometer fa-fw" aria-hidden="true"></i>
            <span>Mano pagrindinis</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-home fa-fw" aria-hidden="true"></i>
            <span>Pagrindinis svetainės puslapis</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-calendar fa-fw" aria-hidden="true"></i>
            <span>Kalendorius</span>
          </a>
        </li>
    </ul>
  </nav>
</div>


  <div id="page" class="b-course">
  <header role="banner" id="page-header" class="b-header">
  <div class="b-header__item">
    <h1>Diskusijų ir bendradarbiavimo priemonė Piazza</h1>
    <div class="b-nav-breadcrumbs">
  <div id="page-navbar">
    <nav role="navigation" aria-label="Naršymo sekimas">
    <ol class="breadcrumb">
      <li class="e-breadcrumb-parent breadcrumb-item"><a href="#" aria-current="page" title="Diskusijų ir bendradarbiavimo priemonė Piazza">Mano pagrindinis</a></li>
      <li class="e-breadcrumb-parent breadcrumb-item"><a href="#" aria-current="page" title="Diskusijų ir bendradarbiavimo priemonė Piazza">Mano kursai</a></li>
      <li class="e-breadcrumb-current breadcrumb-item">Mano kursai</li>
    </ol>
    </nav>
  </div>
</div>
  </div>
</header>
  <div class="b-course__inner">
    <main role="main" id="maincontent" class="b-course__content">
      <section>
        <ul class="topics">
          <li id="section-0" class="section main" role="region" aria-label="Bendra informacija apie kursą">
            <div class="content">
              <h3 class="sectionname"><span><a href="#">Bendra informacija apie kursą</a></span>
              </h3>
            </div>
            <div class="summary">
              <p>Žodis "piazza" išvertus iš italų kalbos reiškia aikštę, vietą, kurioje bendraujama.</p>
              <p>Diskusijų ir bendadarbiavimo priemonė Piazza, skirta besimokančiųjų ir dėstytojų, bei besimokančiųjų tarpusavio bandravimui.</p>
              <p>Kurso tikslas: pristatyti Piazza diskusijų priemonę, parengti ir pateikti medžiagą, reikalingą jos naudojimui.</p>
              <p>Kam skirta: dėstytojams, asistentams, forumų moderatoriams, siekiantiems įtraukti studentus į bendravimą ir bendradarbiavimą virtualioje aplinkoje.</p>
              <p>Reikalavimai pasirengimui: bendras kompiuterinis raštingumas, anglų kalbos mokėjimas.</p>
              <p>Kursą sukūrė: Aistė Čiurlytė Kolesničenko, IFM 7/5</p>
              <p>Kontaktai: aiste.ciurlyte@ktu.edu</p>
            </div>
            <div class="b-course-content__footer">
              <button type="submit" class="c-button__fancy">Atsisiųsti</button>
              <button type="submit" class="c-button__secondary">Atšaukti</button>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </div>
</div>
</div>

