

<ul class="b-nav-user nav navbar-nav">
  <li>
    <div class="d-none d-lg-block">
    </div>
  </li>
  <!-- navbar_plugin_output -->
  <li class="b-nav-user__item nav-item">
    <div class="popover-region collapsed">
      <a class="nav-link d-inline-block popover-region-toggle position-relative" href="#" role="button">
        <i class="icon fa fa-comment fa-fw " title="Toggle messaging drawer" aria-label="Toggle messaging drawer"></i>
      </a>
    </div>
    <div class="popover-region popover-region-notifications collapsed" id="nav-notification-popover-container" data-userid="2" data-region="popover-region">
      <div class="popover-region-toggle nav-link" data-region="popover-region-toggle" role="button" aria-controls="popover-region-container-5cee45f79273c5cee45f75713f6" aria-haspopup="true" aria-label="Show notification window with no new notifications" tabindex="0">
        <i class="icon fa fa-bell fa-fw " title="Toggle notifications menu" aria-label="Toggle notifications menu"></i>
      </div>
    </div>
  </li>
  <!-- user_menu -->
  <li class="nav-item d-flex align-items-center">
  </li>
</ul>
<!-- search_box -->
