

<div class="b-nav-sidebar">
    <a class="skip-link" href="#maincontent">Praleisti į pagrindinį turinį</a>
  <nav class="b-nav-sidebar__item">
  <h3 hidden>Kurso meniu</h3>
    <ul>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-graduation-cap fa-fw" aria-hidden="true"></i>
            <span>Kursas</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-users fa-fw" aria-hidden="true"></i>
            <span>Dalyviai</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-shield fa-fw" aria-hidden="true"></i>
            <span>Pasiekimai</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-check-square-o fa-fw" aria-hidden="true"></i>
            <span>Kompetencijos</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-table fa-fw" aria-hidden="true"></i>
            <span>Įverčiai</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Bendra informacija apie kursą informacija apie kursą</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Įvadas</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Prieigos instrukcija</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-folder-o fa-fw" aria-hidden="true"></i>
            <span>Funkcinis aprašymas</span>
          </a>
        </li>
    </ul>
  </nav>
  <nav class="b-nav-sidebar__item">
  <h3 hidden>Naudotojo meniu</h3>
    <ul>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-tachometer fa-fw" aria-hidden="true"></i>
            <span>Mano pagrindinis</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-home fa-fw" aria-hidden="true"></i>
            <span>Pagrindinis svetainės puslapis</span>
          </a>
        </li>
        <li>
          <a class="b-nav-sidebar__link" href="#">
            <i class="icon fa fa-calendar fa-fw" aria-hidden="true"></i>
            <span>Kalendorius</span>
          </a>
        </li>
    </ul>
  </nav>
</div>


