

<!doctype html>
<html lang="lt">
<head>
	<meta charset="utf-8" />
	<title>VMA Moodle dizaino sistema</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="../../css/global.css">
</head>
<body>
	<h1>H1. Diskusijų ir bendradarbiavimo priemonė Piazza</h1>
<h1>H1 nuoroda: <a href="#">Diskusijų ir bendradarbiavimo priemonė Piazza</a></h1>
<h2>H2. Temos struktūra</h2>
<h2>H2 nuoroda: <a href="#">Temos struktūra</a></h2>
<h3>H3. Praktiniai priemonės panaudojimo patarimai</h3>
<h3>H3 nuoroda: <a href="#">Praktiniai priemonės panaudojimo patarimai</a></h3>
<h4>h4. Kompetencijos</h4>
<h4>h4 nuorodaL <a href="#">Kompetencijos</a></h4>
<h5>H5. Kalendorius</h5>
<h5>H5 nuoroda: <a href="#">Kalendorius</a></h5>
	<script src=../../js/scripts.js></script>
</body>
</html>
