

<!doctype html>
<html lang="lt">
<head>
	<meta charset="utf-8" />
	<title>VMA Moodle dizaino sistema</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="../../css/global.css">
</head>
<body>
	<div id="page" class="b-course">
  <header role="banner" id="page-header" class="b-header">
  <div class="b-header__item">
    <h1>Diskusijų ir bendradarbiavimo priemonė Piazza</h1>
    <div class="b-nav-breadcrumbs">
  <div id="page-navbar">
    <nav role="navigation" aria-label="Naršymo sekimas">
    <ol class="breadcrumb">
      <li class="e-breadcrumb-parent breadcrumb-item"><a href="#" aria-current="page" title="Diskusijų ir bendradarbiavimo priemonė Piazza">Mano pagrindinis</a></li>
      <li class="e-breadcrumb-parent breadcrumb-item"><a href="#" aria-current="page" title="Diskusijų ir bendradarbiavimo priemonė Piazza">Mano kursai</a></li>
      <li class="e-breadcrumb-current breadcrumb-item">Mano kursai</li>
    </ol>
    </nav>
  </div>
</div>
  </div>
</header>
  <div class="b-course__inner">
    <main role="main" id="maincontent" class="b-course__content">
      <section>
        <ul class="topics">
          <li id="section-0" class="section main" role="region" aria-label="Bendra informacija apie kursą">
            <div class="content">
              <h3 class="sectionname"><span><a href="#">Bendra informacija apie kursą</a></span>
              </h3>
            </div>
            <div class="summary">
              <p>Žodis "piazza" išvertus iš italų kalbos reiškia aikštę, vietą, kurioje bendraujama.</p>
              <p>Diskusijų ir bendadarbiavimo priemonė Piazza, skirta besimokančiųjų ir dėstytojų, bei besimokančiųjų tarpusavio bandravimui.</p>
              <p>Kurso tikslas: pristatyti Piazza diskusijų priemonę, parengti ir pateikti medžiagą, reikalingą jos naudojimui.</p>
              <p>Kam skirta: dėstytojams, asistentams, forumų moderatoriams, siekiantiems įtraukti studentus į bendravimą ir bendradarbiavimą virtualioje aplinkoje.</p>
              <p>Reikalavimai pasirengimui: bendras kompiuterinis raštingumas, anglų kalbos mokėjimas.</p>
              <p>Kursą sukūrė: Aistė Čiurlytė Kolesničenko, IFM 7/5</p>
              <p>Kontaktai: aiste.ciurlyte@ktu.edu</p>
            </div>
            <div class="b-course-content__footer">
              <button type="submit" class="c-button__fancy">Atsisiųsti</button>
              <button type="submit" class="c-button__secondary">Atšaukti</button>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </div>
</div>
	<script src=../../js/scripts.js></script>
</body>
</html>
