

<!doctype html>
<html lang="lt">
<head>
	<meta charset="utf-8" />
	<title>VMA Moodle dizaino sistema</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="../../css/global.css">
</head>
<body>
	<svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-dehaze" viewBox="0 0 24 24">
      <path d="M2.016 5.484h19.969v2.016h-19.969v-2.016zM2.016 10.5h19.969v2.016h-19.969v-2.016zM2.016 15.516h19.969v1.969h-19.969v-1.969z"></path>
    </symbol>
  </defs>
</svg>
<button class="js-nav_button c-menu-button" aria-label="Šoninis meniu">
  <svg class="svg-icon icon-dehaze"><use xlink:href="#icon-dehaze"></use></svg>
  <span class="sr-only">Šoninis skydelis</span>
</button>
	<script src=../../js/scripts.js></script>
</body>
</html>
